.contactInfo{
    padding: var(--section-padding-top) 10%;
    display: flex;
    justify-content: center;
    gap: 5%;
}

.formWrapper{
    width: 40%;
}

.formWrapper h2{
    font-size: 3rem;
}
.formWrapper p{
    margin: 1vw 0;
    width: 80%;
    line-height: 150%;
    font-size: 1.2rem;
}

.imgWrapper{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
    gap: 3vw;
    width: 35%;
    position: relative;
}
.contentWrapper{
    margin-left: 20%;
}

.contentWrapper h5{
    font-size: 2rem;
}

.contentWrapper a{
    text-decoration: none;
    color: var(--primary-text-color);
    margin-top: 1vw;
    font-size: 1.5rem;
}

/* TABLET STYLES */
@media only screen and (min-width: 650px) and (max-width: 990px){
    .contactInfo{
        /* flex-direction: column; */
        align-items: center;
    }
    
    .formWrapper{
        width: 60%;
    }
    
    .formWrapper h2{
        font-size: 3rem;
    }
    .formWrapper p{
        margin: 1vw 0;
        width: 80%;
        line-height: 150%;
        font-size: 1.2rem;
    }
    
    .imgWrapper{
        gap: 4vw;
        width: 35%;
        aspect-ratio: 1/1.8;
    }
    .contentWrapper{
        margin-left: 5%;
    }
    
    .contentWrapper h5{
        font-size: 2.1rem;
    }
    
    .contentWrapper a{
        display: inline-block;
        margin-top: 0.5vw;
    }
}
 
/* MOBILE STYLES */
@media only screen and (max-width: 649px){
    .contactInfo{
        flex-direction: column;
        align-items: center;
        gap: 10vw;
    }
    
    .formWrapper{
        width: 90%;
    }
    
    .formWrapper h2{
        font-size: 3rem;
        text-align: center;
    }
    .formWrapper p{
        margin: 2vw 0;
        text-align: center;
        width: 90%;
        padding: 0 5%;
        line-height: 150%;
        font-size: 1.2rem;
    }
    
    .imgWrapper{
        gap: 4vw;
        width: 70%;
        aspect-ratio: 1/1.3;
    }
    .contentWrapper{
        margin-left: 10%;
    }
    
    .contentWrapper h5{
        font-size: 2.1rem;
    }
    
    .contentWrapper a{
        display: inline-block;
        margin-top: 0.5vw;
    }
}